@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
body{
    background-color: hsl(217, 54%, 11%);
    color: hsl(216, 12%, 54%);
    font-family: 'Outfit', sans-serif;
}
.parent{
    width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    background-color: hsl(216, 50%, 16%);
    padding: 10px;
    border-radius: 20px;
    border: 15px solid hsl(217, 54%, 12%);

}
.image img{
    max-width:100%;
    max-height:100%;
    border-radius: 15px;
}

.text{
    margin: 0 10px 0 10px;
}
.text h3{
    color: white;
}

#avail{
    display: flex;
    justify-content: space-between;
    margin: 0 5px 0 4px;
    border-bottom: 10px;
}
#avail img{
    transform: translateY(3px);
    margin-right: 5px;
}
#span1{
    margin-left: 5px;
    font-weight: bold;
    color: hsl(178, 100%, 50%);;
}
hr{
    border-top: 6px;
    border-width: 1%;
}
.text h3:hover{
    color: hsl(178, 100%, 50%);
}
.overlay:hover{
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}